#bhag {
    position: absolute;
    left: 1%;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    opacity: 0.2;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  #okhi {
    position: absolute;
    top: 30%;
    left: 2%;
    z-index: 1;
  }

  #bhag:hover {
    opacity: 0.6;
    border-color: red;
  }

  section {
    padding-left: 30px;
    margin-top: 60px;
  }

  #scroll {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgb(255, 255, 255, 0.05);
  }

  #prog {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animateprog 5s linear infinite;
  }

  #prog::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
  }

  #prog::after {
    filter: blur(30px);
  }

  @keyframes animateprog {

    0%,
    100% {
      filter: hue-rotate(0deg);
    }

    50% {
      filter: hue-rotate(360deg);
    }
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  ul .dropdown-menu {
    width: 200px;
  }

  /* loader style */

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #262626;
    animation: animate 2s linear infinite;
  }

  .loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    animation: animatebg 2s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translate(-50%, -50%)rotate(0deg);
    }

    25% {
      transform: translate(-50%, -50%)rotate(180deg);
    }

    50% {
      transform: translate(-50%, -50%)rotate(180deg);
    }

    75% {
      transform: translate(-50%, -50%)rotate(360deg);
    }

    100% {
      transform: translate(-50%, -50%)rotate(360deg);
    }
  }

  @keyframes animatebg {
    0% {
      height: 0;
    }

    25% {
      height: 0;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }

  #card {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
  }


  #mobnav {
    opacity: 0;
  }

  #laptopnav {
    opacity: 0;
  }

  @media (max-width:750px) {
    #mobnav {
      opacity: 1;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  @media (min-width:751px) and (max-width:2500px) {
    #laptopnav {
      opacity: 1;
    }

    .navbar-nav {
      opacity: 1;
    }

    #la {
      opacity: 1;
    }

    /* #bhag{
      position: absolute;
      margin-top:3px;
      background-color: red;
      opacity:1;
    } */
    section {
      padding-left: 30px;
      margin-top: 0;
    }
  }

  @media (min-width:1000px) {}

  /* bot style */
  #botin {
    opacity: 0;
    position: absolute;
    top: 77%;
    right: 2%;
    position: fixed;
  }

  #botin .active {
    opacity: 0;
  }

  #bot {
    position: absolute;
    top: 70%;
    right: 5%;
    position: fixed;
    opacity: 0;
  }

  @media (max-width: 750px) {
    #bot {
      opacity: 1;
    }
  }

  @media (min-width:760px) {
    #botin {
      opacity: 0;
    }
  }

  .containerofgrid {
    display: flex;
    margin: 30px;

  }

  .item1grid {
    margin: 30px;
    background-color: blue;
    width: 400px;
    height: 300px;
    text-align: center;
    border: 2px solid yellow;
  }

  .item2grid {
    margin: 30px;
    background-color: blue;
    width: 100px;
    height: 300px;
    text-align: center;
    border: 2px solid yellow;
  }

  .container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(60px, auto);
    margin: 5px;
    grid-auto-flow: dense;
    grid-gap: 10px;
  }

  .container .box {
    background: yellow;
    padding: 10px;
    display: grid;
    font-size: 10px;
    text-align: center;
    color: black;
  }

  .container .box img {
    position: relative;
    max-width: 50px;
    margin-bottom: 10px;
  }

  @media (max-width:350px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }

    .container .box {
      grid-column: unset;
      grid-row: unset;
    }
  }

  @media (min-width:350px) and (max-width:450px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }

    .container .box {
      grid-column: unset;
      grid-row: unset;
    }
  }

  @media (min-width:452px) and(max-width:700px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }

    .container .box {
      grid-column: unset;
      grid-row: unset;
    }
  }

  @media (min-width:802px) and (max-width:1030px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }

    .container .box {
      grid-column: unset;
      grid-row: unset;
    }
  }

  @media (min-width:1030px) and (max-width:1340px) {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
      grid-template-rows: minmax(auto, auto);
    }

    .container .box {
      grid-column: unset;
      grid-row: unset;
    }
  }
  #mark{
    background-color: rgb(248, 245, 245);
    margin:30px;
    cursor: pointer;
    position: absolute;
    top:20%;
    right:9%;
    border: black 1px solid;
    border-radius: 7px;
}